<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069509624849-qkovmjtupg1e0cu2c1ihuh2ad4g5ht67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069509624849-qkovmjtupg1e0cu2c1ihuh2ad4g5ht67</string>
	<key>API_KEY</key>
	<string>AIzaSyCncRcftArinjkWJgSEKmNI3QvgoQx89PM</string>
	<key>GCM_SENDER_ID</key>
	<string>1069509624849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.looper</string>
	<key>PROJECT_ID</key>
	<string>looper-4519f</string>
	<key>STORAGE_BUCKET</key>
	<string>looper-4519f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069509624849:ios:12d58aff88d814a42a1db0</string>
	<key>DATABASE_URL</key>
	<string>https://looper-4519f.firebaseio.com</string>
</dict>
</plist>